body {
    background-color: lightblue;
    }
    h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    }
    p {
    font-size: 18px;
    font-family: Arial, sans-serif;
    }
    .higlight {
        color: blue;
        font-weight: 24px;
    }
    #header {
        color: rgb(1, 221, 255);
        font-size: 24px;
        text-align: center;
    }
    .profile.pik {
        border-radius: 50%;
    }
    #user-name {
        font-size: 26px;
        font-family: Arial, sans-serif;
    }